<div class="partial-builder"><div class="builder-freeform-stage" style="position:relative; min-height:522px;"><div class="builder-freeform-node" style="position:absolute;left:188px;top:95px;width:320px;max-width:calc(100% - 188px);"><label class="micro-check">
  <input class="micro-checkbox" type="checkbox">
  <span>Accept terms</span>
</label>
</div>
<div class="builder-freeform-node" style="position:absolute;left:113px;top:327px;width:320px;max-width:calc(100% - 113px);"><label class="micro-field">
  <span class="micro-label">Select option</span>
  <select class="micro-select">
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </select>
</label>
</div></div></div>